/* 
blue: #497CAB
beige: #FFF3E2
grey: #F2F2F2 
green: #C7D0A0
*/

body {
  background-color: #fff3e2;
}

.jumbotron {
  background-color: #497cab;
  color: white;
  border-radius: 0;
  padding: 30px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#form-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

form.city {
  width: 60%;
  padding: 10px;
}

.form-group {
  text-align: center;
}

.form-group.city {
  width: 90%;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form-inline {
  display: flex;
  justify-content: center;
}

form {
  background-color: white;
  padding: 30px;
  box-shadow: 5px 5px 10px #666666;
  border-radius: 20px 0 0 20px;
  margin: 20px 20px;
}

.btn {
  background-color: #497cab;
  color: white;
  margin: 5px;
}

input[type='text'] {
  background-color: #f2f2f2;
  margin: 10px 0;
}

#results {
  width: 100%;
  margin-top: 20px;
  min-height: 200px;
  border-top: 30px solid #497cab;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#doc-container {
  width: 80%;
  margin: 20px 0;
  box-shadow: 3px 3px 10px #666666;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

#doc-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #497cab;
  color: white;
  padding: 5px;
  width: 100%;
}

#doc-header h5 {
  font-size: 1.5em;
}

#new-patients {
  color: #c7d0a0;
}

#doc-details {
  padding: 15px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#address :nth-child(1) {
  font-weight: 600;
}

#website {
  word-wrap: break-word;
  max-width: 100%;
}

a {
  color: #497cab;
}

a:active,
a:hover {
  color: #c7d0a0;
}

.error {
  margin-top: 20px;
  text-align: center;
}
